
/* background color */
.bg-color{
    background-color: gainsboro;
}
/* header color */
.header{
    color: orangered ;
}

/* error color */
#error{
    margin-top: 5%;
    color: red;
    display: none;
}
#error2{
    margin-top: 5%;
    color: red;
    display: none;
}
